/***** Hidden span *****/
span.smooHide {
	position: absolute;
	width: 0px;
	overflow: hidden;
}

/***** Presentation *****/

div.smooView {
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}
div.smooView *  {
	margin: 0;
	padding: 0;
}

div.smooPresentation {
	height: 100%;
	width: 100%;
}

div.smooSlide {
	display: block;
	height: 23%;
	width: 23%;
	font-size: 23%;
	/*position: absolute;*/
	position: relative;
	/* 1.5% margin bottom is equivalent to 2% of the height of the view. */
	margin: 0 auto 1.5%;
}

div.smooElementWrapper {
	display: none;
	height: 100%;
	width: 100%;
}

.smooElement {
	display: none;
	position: absolute;
	width: auto;
	height: auto;
}
div.smooPresentation h1, 
div.smooPresentation h2,
div.smooPresentation h3,
div.smooPresentation h4,
div.smooPresentation h5,
div.smooPresentation h6 {
	font-weight: bold;
}
div.smooPresentation li  {
	margin-left: 1em;
}
div.smooPresentation ul ul li {
	font-size: 80%;
}

/** Slider **/
div.smooSlider {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -75px;
	right: 5px;
	width: 5px;
	height: 150px;
	background: url(slider.png) no-repeat;
	cursor: pointer;
}

div.smooHandle {
	position: absolute;
	width: 7px;
	height: 7px;
	margin: 0 -1px;
	background: url(handle.png) no-repeat top;
	cursor: move;
	overflow: hidden;
}

div.smooHandle:hover {
	background-position: bottom;
}

/** Control bar **/
ul.smooControl {
	width: 200px;
	height: 30px;
	list-style: none;
	padding: 0;
	margin: 0 auto -30px;
	position: relative;
	bottom: 30px;
	overflow: hidden;
}
ul.smooControl * {
	padding: 0;
	margin: 0;
}
ul.smooControl li {
	height: 100%;
	float: left;
}
ul.smooControl a {
	display: block;
	background-position: 0 -30px;			
	height: 100%;
	outline: none;
}
ul.smooControl a:hover {
	background-position: 0 0;
}
ul.smooControl a.smoofull {
	width: 40px; 
	background-image: url(full.png)
}
ul.smooControl a.smoothumb {
	width: 40px; 
	background-image: url(thumb.png)
}
ul.smooControl a.smoofr {
	width: 32px; 
	background-image: url(fastrewind.png)
}
ul.smooControl a.smoor {
	width: 23px; 
	background-image: url(rewind.png)
}
ul.smooControl a.smoof {
	width: 32px; 
	background-image: url(forward.png)
}
ul.smooControl a.smooff {
	width: 32px; 
	background-image: url(fastforward.png)
}
ul.smooControl a.smooborder {
	width: 41px; 
	background-image: url(border.png)
}