<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>demo presentation</title>
        <link type="text/css" rel="stylesheet" href="layout/style.css"/>
        <script type="text/javascript" src="/preview/logic/jquery.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.core.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.blind.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.clip.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.drop.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.explode.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.fade.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.fold.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.scale.js"></script>
		<script type="text/javascript" src="/preview/logic/effects/effects.slide.js"></script>
		<script type="text/javascript" src="/preview/logic/jssv.core.js"></script>
        <script type="text/javascript" src="/preview/logic/jquery.jssv.js"></script>
        <!--script type="text/javascript" src="/preview/content/content.js"></script-->
		<script type="text/javascript" src="/preview/firebug/firebug.js"></script>
		<%=@presentation_json.to_json %>
        <script type="text/javascript">
        	var presentation1 = <%=@presentation_json.to_json %>;
			
			
			console.log(presentation1);
            $(document).ready(function(){
				$('#view').jssv(presentation1);
            });
        </script>
        <style type="text/css">
            html, body {
                background-color: black;
                padding: 0;
                margin: 0;
				width: 100%;
				height: 100%;
            }
			#view {
				height:100%;
				width: 100%;
			}
        </style>
    </head>
    <body>
        <noscript>
            <strong style="color:red">Javascript must be enabled on your browser to play this presentation.</strong>
        </noscript>
		<div id="view"></div>
	</body>
</html>