.smooPresentation {
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: block;
}

/* CSS reset */
.smooPresentation *  {
	margin: 0;
	padding: 0;
}

.smooPresentation li  {
	margin-left: 1em;
}

.smooFont, .smooFocus {
	position: absolute;
	right: 9999px;
}

.smooSlide {
	display: none;
	height: 100%;
	width: 100%;
	/*position: absolute;*/
	position: relative;
}

.smooElement {
	display: none;
	position: absolute;
	width: auto;
	height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

ul ul li {
	font-size: 80%;
}
