.jssvPresentation {
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.jssvInput, .jssvFont {
	position: absolute;
	right: 9999px;
	margin: 0;
	padding: 0;
	color: white;
}

.jssvSlide {
	background-color: red;
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	/*position: relative;*/
}

.jssvElement {
	background-color: yellow;
	display: none;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
}